<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Malaysia Covid Stats</span>
    <span class="example-spacer"></span>
    <button routerLink="/Home" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button routerLink="/covid" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon> local_hospital</mat-icon>
    </button>
    <button routerLink="/about" mat-icon-button class="example-icon" aria-label="Example icon-button with about icon">
      <mat-icon>contact_support</mat-icon>
    </button>
  </mat-toolbar>
</p>

 <router-outlet></router-outlet>
  

 


 